@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 1200;
}                                                        

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #181818;
    color: #8758FF;
    color: #5CB8E4;
    color: #F2F2F2;
    
}
::selection{
    background-color: #181818;
    color: #F2F2F2;
}
section#home{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}
header#header{
    width: 100%;
    height: 8vh;
    background-color: #F2F2F2;
}
nav#navbar{
    margin: auto;
    text-align: center;
}
section#section{
    width: 100%;
    height: 87vh;
    background-color: #F2F2F2;
}
section#section h1#baslik{
    text-align: center;
}

footer#footer{
    position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 6vh;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #181818;
            color: white;
            text-align: center;
            padding: auto;
            border-top: 2px solid #8758FF;
}
nav#footerbar{
    width: 30vh;
    height: 4vh;
    margin: auto;
    text-align: center;
    padding: 1.5vh;
}
.fa {
    padding: 0;
    font-size: 20px;
    width:40px;
    text-align: center;
    text-decoration: none;
    color: #F2F2F2;
}
.fa:hover {
    color: #8758FF;
    transition: 0.3s;
}
#tags a img{
    width: 10vh;
}
#tags a img::selection{
    background-color: #F2F2F2;
}
#tags a img:hover{
    width: 10vh;
    opacity: 0.75;
    transition: 0.3s;
}
#tags{
    float: left;
    width: 50%;
}
#tags li{
    list-style: none;
    display: inline-block;
}
#tags a{
    text-decoration: none;
    color: #F2F2F2;
}
#baslik{
    margin-top: 35vh;
    width: 100%;
    text-align: center;
    color: #F2F2F2;
    position: fixed;
    font-size: xx-large;
}
#baslik h1{

    color: #F2F2F2;
    width: 500px;
    margin: auto;
    border-radius: 40px;
}
#baslik h1::selection{
    background-color: #F2F2F2;
    color: #181818;
    width: 500px;
    margin: auto;
}
.menu{
    color: #FC7880;
    padding: 3vh;
}
.menu:hover{
    color: #181818;
    transition: 0.3s;
}            
#links{
    width: 100%;
    height: 85vh;
    margin:auto;
    padding: 0;
    font-size: 100%;
    overflow-x: scroll;
}
#links-ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#links-ul a{
    font-weight: bold;
    text-align: center;
    display: block;
    color: #8758FF;
    padding: 5px;
    text-decoration: none;
    
}
#links-ul a:hover{
    text-align: center;
    display: block;
    color: #F2F2F2;
    padding: 5px;
    text-decoration: none;
    background-color: #181818;
    transition: 0.3s ease;
}
section #background{
    background-image: url(background.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.opening{
    color: #181818;
}
.opening:hover{
    color: #8758FF;
    transition: 0.3s;
}
.baslik p{
    font-weight: 400;
    font-size: medium;
    background-color: #F2F2F2;
    color: #181818;
    width: 25vh;
    margin: auto;
}
#baslik p::selection{
    font-weight: 400;
    font-size: medium;
    background-color: #181818;
    color: #F2F2F2;
    width: 25vh;
    margin: auto;
}
#baslik .icerik-1{
    border-radius: 10px;
    padding: 2vh;
    margin: auto;
    width: 40vh;
    background-color: #8758FF;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}
#table{
    text-align: left;
}
#table .material-symbols-outlined{
    color: #181818;
}
#table .material-symbols-outlined:hover{
    color: #F2F2F2;
}
#table p:hover{
    color: #181818;
    transition: 0.3s;
}
section .icerik{
    width: 100%;
    height: 90vh;
    background-color: #181818;
    overflow-x: scroll;
}
.table{
    margin: auto;
    text-align: center;
    padding: 10vh;
}
.table .td-1{
    float: right;
}
.table td{
    padding: 25px;
}
.table tr{
    padding:100px;
}

.input{
    color: #181818;
    border-radius: 10px;
    padding: 3px 14px;
}
.input:hover{
    color: #F2F2F2;
    background-color: #8758FF;
    border-radius: 10px;
    padding: 3px 14px;
    transition: 0.3s;
}

.button{
    color: #181818;
    padding: 3px 50px;
    border-radius: 10px;
    background-color: #5CB8E4;
}
.button:hover{
    color: #F2F2F2;
    padding: 3px 50px;
    border-radius: 10px;
    background-color: #8758FF;
    transition: 0.3s;
}
.container{
    margin-top: 15vh;
    padding: 40px 40px;
    width: 40vh;
}
.container-2{
    margin: auto;
    width: 40vh;
}
div#tanitim{
    margin-top: 10vh;
}
div.icerik{
    width: 100%;
    text-align: center;
}
div.tanitim{
    padding: 80px;
    border-radius: 20px;
    background-color: #8758FF;
    width: 50vh;
    text-align: center;
    margin: auto;
}
div.tanitim h1{
    font-size: xx-large;
    color: #181818;
}
div.tanitim .image{
    border-radius: 20px;
    width: 100%;
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(muratsari.jpeg);

}
div.tanitim .image-1{
    border-radius: 20px;
    width: 100%;
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(balikesir.jpg);
}
div.tanitim .image-2{
    border-radius: 20px;
    width: 100%;
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(holding-1.jpg);
}
div.tanitim .image-4{
    border-radius: 20px;
    width: 100%;
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(holding-2.jpg);
}
div.tanitim .image-3{
    border-radius: 20px;
    width: 100%;
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(logo.png);
}
#table-1{
    width: 100%;
    padding: 0px;
    margin-left: 0;
}
#table-1 td{
    padding:0px;
    float: left;
    width: 100%;
}
#table-1 th{
    color: #181818;
    font-size: xx-large;
    padding-bottom: 50px;
}
#table-1 .fa:hover{
    color: #181818;
    transition: 0.2;
}
div#tablo-2{
    width: 100%;
    margin-top: 75px;
}
div#tablo{
    background-color: #FC7880;
    width: 60vh;
    margin: auto;
    border-radius: 40px;
    padding: 0;
}
div#tablo th{
    color: #181818;
    font-size: xx-large;
}
div#tablo td{
    color: #181818;
}
div.tanitim #table-2{
    

    margin: auto;

}
div.tanitim #table-2 td{
    border-radius: 40px;
    padding: 20px;
    border-color: #181818;
    border-style: groove;
    border-width: 2px;

    color: #F2F2F2;
    font-weight: 600;
}
div.tanitim #table-2 td:hover{
    border-radius: 40px;
    padding: 20px;
    border-color: #F2F2F2;
    border-style: groove;
    border-width: 2px;
    background-color: #5CB8E4;
    color: #181818;
    font-weight: 600;
}
#tanitim-1{
    width: 100%;
}
#tanitim-1 .tanitim{
    color: #181818;
    width: 70%;
    margin-top: 50px;
    background-color: #ffffff;
    border-style: groove;
}
#tanitim-1 .tanitim-2 td{
    
    background-color: #ffffff;
    text-align: center;
}
#tanitim-1 .tanitim-2 td:hover{
    color: #8758FF;
    background-color: #ffffff;
    text-align: center;
}
.img{
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
.img1{
    
    background-image: url(arac1.png);
}
.img2{
    
    background-image: url(arac2.png);
}
.img3{
    width: 250px;
    height: 50px;
    background-image: url(arac4.png);
}
.img4{
    
    background-image: url(arac3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 100px;
}
div.margin{
    margin-top: 100px;
}
#tanitim-1 .tanitim-2{
    color: #181818;
    border-radius: 40px;
    width: 70%;
    margin: auto;
    background-color: #ffffff;
    border-style: groove;
}

.tanitim a{
    display: inline-block;
    margin: 40px;
    text-decoration: none;
}
.tanitim a:hover{
    color: #181818;
    display: inline-block;
    margin: 40px;
    text-decoration: none;
    transition: 0.2;
}
div#daire{
    border-color: #8758FF;
    margin: auto;
    width: 160px;
    height: 160px;
    background-color: #8758FF;
    border-radius: 100%;
}

div.profile{
    margin: auto;
    width: 160px;
    height: 160px;
    background-image: url(yigit.jpg);
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
div.profile-2{
    margin: auto;
    width: 160px;
    height: 160px;
    background-image: url(muratsari.jpeg);
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
div.profile-3{
    margin: auto;
    width: 160px;
    height: 160px;
    background-image: url(arcelik.jpg);
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
div.profile-4{
    margin: auto;
    width: 160px;
    height: 160px;
    background-image: url(vestel.png);
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
div.profile-5{
    margin: auto;
    width: 160px;
    height: 160px;
    background-image: url(turkcell.png);
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
div.profile-6{
    margin: auto;
    width: 160px;
    height: 160px;
    background-image: url(vodefone.png);
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
